@app.route('/face_verify', methods=['POST'])
def face_verify():

    global DeepFace

    if DeepFace is None:
        from deepface import DeepFace

    try:
        if 'user' not in session:
            return redirect('/login')

        username = session['user']

        image_data = request.form.get('image_data')

        if not image_data:
            return "No webcam image received"

        if "," not in image_data:
            return "Invalid image format"

        image_data = image_data.split(",")[1]

        live_path = os.path.join(
            FACE_FOLDER,
            "live.jpg"
        )

        with open(live_path, "wb") as f:
            f.write(base64.b64decode(image_data))

        registered_path = os.path.join(
            FACE_FOLDER,
            username + ".jpg"
        )

        if not os.path.exists(registered_path):
            return f"Face image missing: {registered_path}"

        result = DeepFace.verify(
            img1_path=registered_path,
            img2_path=live_path,
            enforce_detection=False
        )

        if result["verified"]:
            return redirect('/vote')

        return "Face not matched"

    except Exception as e:
        return f"ERROR: {str(e)}"